body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(51, 204, 196) 50%, rgba(0, 153, 255, 0.454) 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, .8);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

.content a{
  text-decoration: none;
  color: rgb(62, 166, 214); /* Здесь можно указать нужный вам цвет */
  transition: transform 1.2s ease-in-out;
}


.subheading {
  color: rgb(229, 229, 237);
  font-size: 20px;
  font-weight: 800;
  font-family: monospace;
  color: rgb(237, 236, 236);
  text-align: center;
  margin: 30px auto auto auto;
}

#logo {
  font-size: 74px;
  font-family: monospace;
  color: rgb(237, 236, 236);
  font-weight: 800;
  text-align: center;
  margin: 40px auto auto auto;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
